.form-field {
  margin-bottom: 10px;
}

.modal-check-text {
  margin-bottom: 30px;
  font-size: 12px;
  @include desktop {
    font-size: 14px;
  }
  color: var(--primeri-text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* стилизация галки без сплайта */
/* .modal-check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  display: block;
} */

/* .modal-check:checked + .modal-check-text::before {
  background-color: var(--accent-text-color);
  background-image: url(../img/galka.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: transparent;
} */
.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  @include flexCenter();
}

.check-icon {
  fill: transparent;
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-text-color);
  border: none;
}

.modal-check {
  &:focus + .modal-check-text span {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:checked + .modal-check-text .check-icon {
    fill: var(--primeri-wite-color);
  }
}

.label-icon {
  padding-left: 7px;
}

.label-icon-a {
  padding-left: 2px;
  color: var(--accent-text-color);
  outline: none;
}
