.clients-container {
    margin-bottom: 101px;
}

/* .clients-soc-h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: var(--title-text-color);
} */