:root {
  --title-text-color: #212121;
  --primeri-text-color: #757575;
  --accent-text-color: #2196f3;
  --primeri-wite-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --durk-background-color: #2f303a;
  --border-bottom: #ececec;
  --background-color: #188ce8;
  --border: #eeeeee;
  --team-soc-icon: #afb1b8;
  --in: rgb(255, 251, 0);
  --uk: rgb(0, 34, 255);
  --mb: 94px;
  --mb-h2: 50px;
  --height-bt: 38px;
}
